<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" href="/images/The Lib.jpg" type="image/icon type">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="bgimg">
    <div class="container text-center header" >
      <h2 class="animate__animated animate__backInLeft "><%=h2%></h2>
      <h3 class="animate__animated animate__backInRight "><%=h3%></h3>
      <p class="animate__animated animate__rubberBand animate__delay-2s"><%=p%></p>
      <hr>
      <h1 class="animate__animated animate__heartBeat animate__delay-1s"><%=h1%></h1>

  
      <div class="container">
      <a href="/admin/login" class="btn logbtn text-black text-center">LOGIN</a>
    </div>
    <a href="/admin">New User..Click Here</a>
    </div>
  <div class="overlay"></div>
  </div>
  

</body>
</html>